# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- List of the commonly used libraries used by Data Scientists.
- Table with the Data Science Tools.
- Aritmetich expressions in python.
-

### Some of the popular lenguages that Data science use are:

1. R
2. Python
3. Java
4. Julia
5. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. Tensorflow
3. ggplot2
4. Ploty

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| Rstudio |
| VS Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [16]:
minutes = 200

hour = minutes//60
minutes_remaining = minutes % 60

print (f"{minutes} minutes is {hour} hours and {minutes_remaining} minutes")

200 minutes is 3 hours and 20 minutes

## Author
Cristian Mendez